body{
    font-family: Arial, sans-serif;
    font-size: larger;
}

header{
    background-color: bisque;
}
nav{
    background-color: azure;
}
main{
    font-size: larger;
    background-color: aqua;
}

footer{
    background-color: beige;
}
li{
    display: inline-block;
    width: fit-content;
}
h1{
    text-align: center;
    font-family:  Courier, monospace;
    color: aliceblue;
}
p{
    line-height: 150%;
}